.mapContainer {
  position: relative;
  height: 100%;
}

.map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.map__popup {
  width: 300px;
}

.map__popup .leaflet-popup-content-wrapper {
  border-radius: 2px;
}
